.lab-list-item-divider {
    padding: 1px 0px 5px 5px;
}

.lab-list-item-row {
  padding: 0px;
}

.lab-list-heading {
  margin-top: 1.0rem;
  margin-bottom: 0.5rem;
}

.lab-list-item {
  min-height: 3.5rem;
}

.lab-list-label {
  margin: 2px 8px 3px 0;
}

//ion-label {
//  margin: 12px 8px 13px 0;
//}

