<ion-navbar *navbar primary>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Computer Access</ion-title>
    <ion-buttons end>
        <button (click)="showSettingsPage()">
            <ion-icon ios="ios-settings-outline" md="md-options"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>

<ion-content>

    <ion-list-header *ngIf="!lastUpdated">Updating...</ion-list-header>
    <ion-list-header *ngIf="lastUpdated">{{ filteredLabLocations.length }} out of {{ labLocations.length }} Locations -
        {{lastUpdatedFromNowText}}
    </ion-list-header>
    <div id="map"></div>
</ion-content>

<ion-content #locationList>
    <ion-list>

        <ion-item *ngFor="let location of filteredLabLocations" (click)="itemTapped($event, location)" class="lab-list-item lab-list-label"
        [class.selected]="location === selectedItem">

            <ion-row class="lab-list-item-row">
                <h2 class="lab-list-heading"><b>{{ location.buildingName | slice:0:25 }}{{ location.buildingName.length > 25 ? '...' : '' }}</b><br>
                <small>{{ location.distance }} ∙ {{ location.free }} computers free</small></h2>
            </ion-row>

        </ion-item>
    </ion-list>
</ion-content>