<ion-navbar *navbar primary>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Computer Access</ion-title>
    <ion-buttons end>
        <button (click)="showSettingsPage()">
            <ion-icon name="settings"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>

<ion-content>

    <ion-list-header *ngIf="!lastUpdated">Updating...</ion-list-header>
    <ion-list-header *ngIf="lastUpdated">{{ filteredLabLocations.length }} out of {{ labLocations.length }} Locations -
        {{lastUpdatedFromNowText}}
    </ion-list-header>
    <div id="map"></div>
</ion-content>

<ion-content #locationList>
    <ion-list>
        <ion-item *ngFor="let location of filteredLabLocations"
        [class.selected]="location === selectedItem" class="lab-list-label lab-list-item">
            <button ion-item (click)="itemTapped($event, location)"
                    [class.selected]="location === selectedItem" class="lab-list-label">
                <ion-row class="lab-list-item-row">
                    <ion-col width-90>
                        <h2 class="lab-list-heading"><b>{{ location.buildingName | slice:0:25 }}{{ location.buildingName.length > 25 ? '...' : '' }}</b><br>
                            <small>{{ location.distance }} ∙ {{ location.free }} computers free</small>
                        </h2>
                    </ion-col>
                    <ion-col width-10 *ngIf="location === selectedItem">
                        <button primary clear round>
                            <ion-icon name="information-circle"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
            </button>
        </ion-item>
    </ion-list>
</ion-content>